Bot/node_modules
Bot/Scripts/node_modules
Web/node_modules
LLM/Llama2/Modell/models--meta-llama--Llama-2-7b-hf/snapshots/01c7f73d771dfac7d292323805ebc428287df4f9/model-00001-of-00002.safetensors
LLM/Llama2/Modell/models--meta-llama--Llama-2-7b-hf/snapshots/01c7f73d771dfac7d292323805ebc428287df4f9/model-00002-of-00002.safetensors